
.video-list-container {
  
    overflow-x: auto; 
}

.video-list {
    display: flex;
    flex-direction: row; 
    padding: 0;
    margin: 20px 0;
    gap: 10px; 
    overflow-x: scroll;
    scrollbar-width: none;
}

.video-item {

    flex: 0 0 auto; 
    width: 300px; 
    height: 169px; 
}

.video-item {
   
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    
}

.video-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
body {
    background-color: #141414; 
    color: #fff; 
}

.search-button {
    background-color: #E50914; 
    
}

.search-button:hover {
    background-color: #f40612; 
}


.search-input {
 
    background-color: #333;
    color: #fff;
}
