/* App.css */
.App {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    padding: 20px;
}
@media (max-width: 768px) {
    .auth-page-container {
        width: 90%;
        margin: 20px auto;
    }

    .video-list {
        grid-template-columns: 1fr;
    }
}
